* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.grid {
  display: flex;
  width: 1000px;
  height: 600px;
  border: 3px solid green;
  flex-wrap: wrap;
  flex-direction: row;
}

.cell {
  width: 5%;
  height: 5%;
  border: 1px solid grey;
}

.invaders {
  background-color: aqua;
}

.player {
  background-color: black;
}

.bombs {
  border-radius: 20px;
  background-color: black;
}

.laser {
  background-color: red;
}